/**
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * <jaasAuthenticationPlugin configuration="activemq-file" />
 * for authentication against properties files
 */
activemq-ldap {
    org.apache.activemq.jaas.LDAPLoginModule required
    	debug=true
    	initialContextFactory="com.sun.jndi.ldap.LdapCtxFactory"
    	// connectionURL="<CHANGE_ME>"
    	connectionUsername="CN=srvcamqdesAX,OU=Middleware,OU=Aplicaciones,OU=Usuarios,OU=Arteixo,OU=Sedes,DC=central,DC=<CHANGE_ME>,DC=grp"
    	connectionPassword="24X%-3r*kT8xCJxd%"
    	connectionProtocol="s"
    	authentication="simple"
    	userBase="OU=AMQ,OU=Aplicaciones,OU=Usuarios,OU=Arteixo,OU=Sedes,DC=central,DC=<CHANGE_ME>,DC=grp"
    	userRoleName=dummyUserRoleName
    	userSearchMatching="(sAMAccountName={0})"
    	userSearchSubtree=false
    	roleBase="OU=AMQ,OU=Aplicaciones,OU=Usuarios,OU=Arteixo,OU=Sedes,DC=central,DC=<CHANGE_ME>,DC=grp"
		roleName=cn
		roleSearchMatching="(member={0})"
		roleSearchSubtree=false;

    org.apache.activemq.jaas.PropertiesLoginModule sufficient
      org.apache.activemq.jaas.properties.group="groups.properties";
};

activemq-file {
    org.apache.activemq.jaas.PropertiesLoginModule required
        decrypt=true
        org.apache.activemq.jaas.properties.user="users.properties"
        org.apache.activemq.jaas.properties.group="groups.properties";
};

activemq-guest {
    org.apache.activemq.jaas.PropertiesLoginModule sufficient
        org.apache.activemq.jaas.properties.user="users.properties"
        org.apache.activemq.jaas.properties.group="groups.properties";

    org.apache.activemq.jaas.GuestLoginModule sufficient
        org.apache.activemq.jaas.guest.user="user"
        org.apache.activemq.jaas.guest.group="user";
};
